<h2>{{model.title}}</h2>
<p>
    <a href="#" {{action 'addNew' }}>Add a new track</a>
    {{#link-to 'track/new'}}Add a new track{{/link-to}}

    <a href="#" {{action 'openModal' 'track/new'}} class="btn">Open modal</a>
</p>

{{outlet}}
