<h2>{{model.title}}</h2>
<p>
    <a href="#" {{action 'addNew'}} class="btn btn-info">Add a new track</a>
  
    {{#link-to 'track/new' class="btn btn-success"}}Add a new track{{/link-to}}

    <a href="#" {{action 'openModal' 'track/new'}} class="btn btn-default">Open modal</a>
</p>

{{outlet}}
